body {
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
  background: linear-gradient(to right, #3f6dc9 0%, #d66832 100%);
  overflow-x: hidden; /* Prevent horizontal scrolling */
}

.main_content {
  padding: 10px; /* Add padding to prevent content from touching the edges */
  height: calc(100vh - 75px); /* Adjusted for mobile browsers */
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background: white;
  border-radius: 20px;
  margin: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: auto; /* Limit the width on very wide screens */
  height: auto; /* Allow the card to grow as needed */
  max-height: 95vh; /* Limit the height to the viewport */
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
  justify-content: flex-start; /* Distributes space between children */
}

.score_container {
  background: #d48d6b;
  border-radius: 20px 20px 0 0;

  color: white;
  text-align: center;
  padding: 2%; /* Reduced padding */
  flex-shrink: 0;
}

.score_amount {
  background: #f8b26a;
  margin: 5px auto; /* Centered margin */
  border-radius: 50px;
  margin-top: 2%;
  padding: 10px; /* Adjust padding as needed */
  max-width: 200px; /* Adjust this to your preference */
  display: block; /* Aligns the score amount div to the center */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

/* Adjust the heading sizes for the score */
h1 {
  font-size: 1.2rem; /* Reduced font-size for the heading */
  margin: 0; /* Remove default margins */
}

h2 {
  font-size: 2rem; /* Reduced font-size for the score */
  margin: 0; /* Remove default margins */
}

.upsell_image img {
  width: 100%; /* Full width of its parent */
  max-height: none; /* Use vh unit to keep it responsive */
  object-fit: cover; /* Ensure it covers the area without distortion */
  height: calc(60vh - 50px);
}

.buttons {
  display: flex;
  justify-content: space-around; /* This will space out your buttons evenly */
  padding: 20px;
}

.button {
  background: #3f6dc9;
  color: white;
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  flex: 1; /* Makes the buttons flex children and allows them to grow */
  margin: 0 10px; /* Add some space between the buttons */
  text-transform: uppercase;
}

.button:first-child,
.button:last-child {
  flex: none; /* Prevents the first and last button from growing */
}

.share-buttons .SocialMediaShareButton,
.share-buttons button {
  cursor: pointer;
  border: none;
  background: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.share-buttons {
  display: flex;
  justify-content: space-evenly; /* Center and space the buttons evenly */
  padding: 10px;
  margin-bottom: 10px; /* Add some space before the menu button */
}
.share-buttons button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%; /* Circle shape */
  width: 40px;
  height: 40px;
}
.share-buttons svg {
  width: 40px;
  height: 40px;
}
.button.menu {
  background: #3f6dc9;
  color: white;
  border: none;
  border-radius: 20px;
  padding: 10px;
  font-size: 1rem;
  cursor: pointer;
  text-transform: uppercase;
  width: calc(100% - 20px); /* Full width minus padding */
  margin-top: 4x; /* Add some space above the button */
  margin-bottom: 4px;
  align-self: center; /* Center the button in the card */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

/* Responsive adjustments */
@media (max-width: 600px) {
  .main_content {
    padding: 0; /* Remove padding on smaller screens to maximize space */
  }

  .score_container {
    padding: 3px; /* Further reduce padding on smaller screens */
  }

  .score_amount {
    padding: 3px 10px;
  }

  h1 {
    font-size: 1rem; /* Even smaller font size for very small screens */
  }

  h2 {
    font-size: 1.5rem; /* Adjust score font size accordingly */
  }

  .buttons button,
  .share-buttons .SocialMediaShareButton {
    padding: 5px; /* Reduce padding for buttons */
    margin: 0 5px; /* Add margin between buttons */
  }

  .share-buttons svg {
    width: 30px; /* Reduce icon size on smaller screens */
    height: 30px;
  }
}

@media (max-height: 480px) {
  .score_container,
  .score_amount,
  h1,
  h2 {
    padding: 1%; /* Even smaller padding */
  }

  h1 {
    font-size: 1rem; /* Smaller font size */
  }

  h2 {
    font-size: 1.2rem; /* Adjust score font size accordingly */
  }

  .upsell_image img {
    height: calc(50vh - 80px); /* Adjust image height accordingly */
  }

  .buttons {
    padding: 10px 5px; /* Reduced padding */
  }

  .button,
  .button.menu {
    padding: 5px 10px; /* Smaller padding for buttons */
  }

  .share-buttons button,
  .share-buttons .SocialMediaShareButton,
  .share-buttons svg {
    width: 30px; /* Reduce icon size */
    height: 30px;
  }

  .button.menu {
    margin-top: 5px; /* Adjust menu button margin to be closer */
    padding: 5px 10px; /* Smaller padding for the menu button */
  }
}
