/* In your App.css */
.gameOver {
  background-image: url("../images/newBGRotated.png");
  background-color: lightgray;
  background-position: center;
  background-size: cover; /* Scale the image to cover the entire container */
  background-repeat: no-repeat;
  height: 100svh; /*keeps the browsers ui mind and keeps */
  width: 100vw; /* Full width of the viewport */
  margin: 0;
}

.mainContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0;
  margin: 0;
}

.score {
  height: 12svh;
  margin-top: 1svh;
}

.ppv {
  height: 72svh;
}

.bottom_buttons {
  height: 14svh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: env(safe-area-inset-bottom);
}

@media (min-width: 768px) {
  .gameOver {
    background-image: url("../images/newBG.png");
  }
}
