.gameOver {
  display: flex;
  flex-direction: column;
  height: 100svh; /* or 100dvh for dynamic viewport height */
  width: 100vw;
  overflow: hidden; /* No scrolling */
  align-items: center;
  justify-content: space-between;
  background-image: url("../images/upsellBG.jpeg"); /* Update with the correct path */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.scoreSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1svh 0; /* Adjust padding to reduce the size */
}

.scoreLabel {
  color: #fff;
  font-family: "Playfair Display";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 5px;
}

.scoreValue {
  color: #e4d569;
  margin-top: -10px;
  font-family: "Playfair Display";
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.ppvSection {
  flex-grow: 2; /* Give PPV section more space */
  display: flex;
  justify-content: center;
  align-items: center;
  /* Adjust padding if needed */
}

.ppvImage {
  max-width: 100%; /* Adjust as necessary */
  max-height: 60svh; /* Adjust as necessary */
}

.ctaButton {
  background: #e4d569;
  color: #000;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  text-transform: uppercase;
  padding: 8px 16px; /* Slightly smaller padding */
  border-radius: 88px;
  font-size: 14px;
  font-weight: 900;
  text-transform: uppercase;
  border: none;
  flex: 1; /* Ensure buttons share the space equally */
}
