.landingPage {
  display: flex;
  flex-direction: column;
  background-color: #232323; /* Fallback color */
  background-position: center; /* Center the image */
  background-size: cover; /* Scale the image to cover the entire container */
  background-repeat: no-repeat; /* Do not tile the image */
  height: 100vh; /* Full height of the viewport */
  width: 100vw; /* Full width of the viewport */
}

.mainContent {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center; /* This centers the image */
  align-items: center;
  position: relative; /* This is new */
}

.mainContent button,
.closeButton {
  padding: 10px 20px;
  font-size: 1.2rem;
  color: #fff;
  background-color: #f76c6c;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
}

.mainContent button {
  position: absolute; /* This positions the button absolutely within mainContent */
  bottom: 20%; /* Adjust this value to position the button as needed */
  left: 50%; /* This centers the button horizontally */
  transform: translateX(
    -50%
  ); /* This aligns the center of the button with the center of the container */
  /* ... other styles ... */
}

.mainContent button:hover,
.closeButton:hover {
  background-color: #f54747;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.proglogueImg {
  /* Adjust if necessary */
  height: 100svh; /* Adjust if necessary to maintain aspect ratio */
  /* This will limit the image height to the screen height */
}

.iframeContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.iframeContainer iframe {
  width: 100%;
  height: 100%;
  border: none;
}

.closeButton {
  position: absolute;
  top: 9px;
  right: 20px;
  font-size: 1rem;
  padding: 5px 10px; /* Smaller than the main button for subtlety */
}

@media (min-width: 768px) {
  .landingPage {
  }
}
